.comment-section {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.input-field {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-comment {
  border-radius: 5px;
  margin-top: 40px;
  width: 250px;
  padding: 10px;
  font-size: 15px;
}
.input-name {
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  font-size: 15px;
  font-weight: bold;
}

.btn {
  width: 80px;
  border-radius: 5px;
  padding: 5px;
  background-color: #9a4abfbf;
  color: #dabfe787;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.add-comment {
  display: flex;
  text-align: center;
  flex-direction: column-reverse;
  padding: 15px;
  gap: 10px;
  font-family: Moderustic;
}

.user {
  font-weight: bold;
}
