#createComments {
    width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

#comment-section{
    display: flex;
    height: 200px;
width: 300px;
border: 10px solid blue;
flex-direction: column;

  }


input {
    
    border-radius: 5px;
    width: 180px;
    height: 60px;
}
button{
    border-radius: 5px;
    padding: 5px;
    background-color: #9a4abfbf;
    color: #dabfe787;
}